body {
    background-color: peru;
}

#title1 {
    margin: auto;
    width: 40%;
    left: 50%;
    text-align: center;
    margin-top: 35px;
}

#div_form1 {
    margin: auto;
    width: 50%;
    margin-top: 25px;
    border: 3px solid #000000;
}

#form1 {
    margin: auto;
    left: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: right;
    display: table;
    font-size: 25px;
}

.l1 {
    margin: auto;
    width: 250px;
    margin-top: 5px
}

#btnSubmit {
    margin: auto;
    height: 50px;
    width: 100px;
    margin-top: 20px;
}

.imgSet1 {
      height: 130px;
    width: 130px;
}
